<div class="city-edit">
    <h1>{{title}}</h1>
    <!-- Make sure loading appears only in edit mode when fetching a city-->
    <p *ngIf="this.id && !city"><em>Loading...</em></p>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">

        <!-- Name -->
        <mat-form-field>
            <mat-label>Name:</mat-label>
            <input matInput formControlName="name" required placeholder="Type a name" />
        </mat-form-field>

        <!-- Lat -->
        <mat-form-field>
            <mat-label>Latitude:</mat-label>
            <input matInput formControlName="lat" required placeholder="Insert latitude" />
        </mat-form-field>

        <!-- Lon -->
        <mat-form-field>
            <mat-label>Longitude:</mat-label>
            <input matInput formControlName="lon" required placeholder="Insert longitude" />
        </mat-form-field>

        <!-- Country -->
        <p *ngIf="countries">
            <select formControlName="countryId" id="countryId">
                <option value="">--- Select a country ---</option>
                <option *ngFor="let country of countries" [value]="country.id">
                    {{country.name}}
                </option>
            </select>
        </p>

        <div>
            <button mat-flat-button color="primary" type="submit">
                {{this.id ? "Save":"Create"}}
            </button>
            <button mat-flat-button color="secondary" [routerLink]="['/cities']">
                Cancel
            </button>
        </div>
    </form>
</div>